#protractor-install {
  font-size: 1.3em;

  .well {
    padding: 10px;
    color: seashell;
    background-color: #383838;
    font-family: monospace;
  }

  .requirements {
    background-color: rgba(202, 202, 202, 0.6);
    padding: 15px;
    margin: 10px -15px;

    h4 {
      color: #d66c35;
      margin-top: 25px;
    }
  }
}